@import './reset.css';
@import './mixin';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap');



main {
    width:1140px;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight:normal;
}
